<div class="container mt-5">
  <h1 class="text-center display-1">Add mark</h1>

  <%= form_for :mark do |f| %>

    <p>
      Mark <br>
      <%= f.text_field :grade, :placeholder => "Enter the mark", :class => "form-control"%>
    </p>

    <div class="d-grid gap-2">
      <%= f.submit 'Set the mark', :class => 'btn btn-outline-success' %>
    </div>

  <% end %>

</div>
